@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav auth-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item auth-chip">
        <span>@User.Identity?.Name</span>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary-soft">Log out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-ghost" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary-soft" asp-controller="Account" asp-action="Login">Log in</a>
    </li>
}
</ul>
